<br><a href="{{site.baseurl}}/privacy">Privacy Policy </a>
{% if site.tc %}
      <br><br><a href="{{site.baseurl}}/terms_conditions">Terms and Conditions</a>
{% endif %}
{% if site.dev_email %}
      <br><br><a href="mailto:{{site.dev_email}}?subject=Create My Own WebSite or email about WebSite related issues **Site:{{site.site_name}}, Page:{{page.pageTitle}}**
            &body=I would like to learn more about creating my own WebSite or email about WebSite related issues" target="_blank">
            Email Website Developer</a>
{% endif %}
